/* styles.css */

* {
	font-family: Arial, Melvetica, sans-serif;
}

body {
	background-color: dodgerblue;
}

.container {
	width: 500px;
	margin: 50px auto;
	text-align: center;
}

h1 {
font-family: "Playwrite NZ Basic", cursive;
}
