/* styles.css */

* {
	font-family: Arial, Melvetica, sans-serif;
}

body {
	background-color: dodgerblue;
}

.container {
	width: 500px;
	margin: 50px auto;
	text-align: center;
}

.backgroundImage {
	background-image: url(..img/wrench.png);
	width: 400px;
	height: 400px;
}

.backgroundImage:hover {
	background-image: url(../img/clock.png);
}
h1 {
font-family: "Playwrite NZ Basic", cursive;
}
